@{ ViewData["Title"] = "Inicio"; }

<div class="header">
    <video autoplay muted loop class="bg-video">
        <source src="~/Videos/Bordados.mp4" type="video/mp4">
        Tu navegador no soporta video.
    </video>
    <div class="inner-header">
        <h3 class="display-4" style="color: #b08e10;"><b>Visionary Gold 👑</b></h3>
        <p> <h5 style="color: #ecdf06; "><b>Es un comercio de bordados que ofrece productos exclusivos y personalizados, permitiendo elegir entre una variedad
            de diseños, fuentes, logotipos o frases especiales, creando piezas únicas que reflejan su estilo y personalidad. 🧵✨ </b></h5></p>
    </div>

    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(249, 215, 47, 0.7)" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(214, 182, 37, 0.7)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(162, 135, 23,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(97, 77, 5,0.3)" />
            </g>
        </svg>
    </div>
</div>


<style>
    /* Aquí defines el estilo para el párrafo */
    p {
        color: #ff0000; /* Cambia este color por el que prefieras */
    }
    /* Si quieres agregar más estilos, puedes hacerlo aquí */
    .descripcion {
        font-size: 18px;
        color: #000; /* Este es un ejemplo de otro estilo */
    }
</style>