@{ ViewData["Title"] = "Inicio"; }

<div class="header">
    <video autoplay muted loop class="bg-video">
        <source src="~/Videos/Bordados.mp4" type="video/mp4">
        Tu navegador no soporta video.
    </video>
    <div class="inner-header">
        <h3 class="display-4" style="color: #b08e10;"><b> &nbsp;&nbsp; Visionary Gold 👑</b></h3>
        <p class="descriVideo">
            <br /><br /><br />
            <h5 style="color: #ecdf06; ">
                <b class="text-center">
                    Es un comercio de bordados que ofrece productos exclusivos y personalizados, permitiendo elegir entre una variedad
                    de diseños, fuentes, logotipos o frases especiales, creando piezas únicas que reflejan su estilo y personalidad. 🧵✨
                </b>
            </h5>
        </p>
    </div>

    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(249, 215, 47, 0.7)" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(214, 182, 37, 0.7)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(162, 135, 23,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(97, 77, 5,0.3)" />
            </g>
        </svg>
    </div>
</div>

<br />
<br />
<h3 class="display-4" style="color: #ecdf06; text-align:center;"><b> &nbsp;&nbsp; Descubre Nuestros Servicios y Productos</b></h3>


<div class="cards-container">
    <div class="card-wrapper">
        <div class="card" id="card1">
            <div class="shadow" style="--url: url('/Imagenes/Inicio/Informacion.jpg');"></div>
            <div class="image" style="--url: url('/Imagenes/Inicio/Informacion.jpg');"></div>
            <div class="content">
                <h2 class="titulocard">Información</h2>
            </div>
        </div>
        <br />
        <p style="background-color: rgba(214, 182, 37, 0.7);" class="descricard">Explora la calidad y el detalle de nuestros bordados, y aprende cómo mantener su belleza con cuidados simples.</p>
    </div>

    <div class="card-wrapper">
        <div class="card" id="card2">
            <div class="shadow" style="--url: url('/Imagenes/Inicio/categoriabor.png');"></div>
            <div class="image" style="--url: url('/Imagenes/Inicio/categoriabor.png');"></div>
            <div class="content">
                <h2 class="titulocard">Categorías</h2>

            </div>
        </div>
        <br />
        <p style="background-color: rgba(214, 182, 37, 0.7);" class="descricard">Explora nuestras colecciones de bordados y encuentra el diseño perfecto para ti.</p>
    </div>

    <div class="card-wrapper">
        <div class="card" id="card3">
            <div class="shadow" style="--url: url('/Imagenes/Inicio/parches.png');"></div>
            <div class="image" style="--url: url('/Imagenes/Inicio/parches.png'); "></div>
            <div class="content">
                <h2 class="titulocard">Contáctanos</h2>

            </div>
        </div>
        <br />
        <p style="background-color: rgba(214, 182, 37, 0.7);" class="descricard">Estamos aquí para ayudarte. Si tienes preguntas o necesitas más información, no dudes en ponerte en contacto con nosotros.</p>
    </div>

    <div class="card-wrapper">
        <div class="card" id="card4">
            <div class="shadow" style="--url: url('/Imagenes/Inicio/Personalizados.png');"></div>
            <div class="image" style="--url: url('/Imagenes/Inicio/Personalizados.png');"></div>
            <div class="content">
                <h2 class="titulocard">Personalización</h2>

            </div>
        </div>
        <br />
        <p style="background-color: rgba(214, 182, 37, 0.7);" class="descricard">Haz que cada pieza sea única. Elige colores, diseños y textos que reflejen tu estilo personal.</p>
    </div>


    <!--<div class="card" id="card3">
           <div class="shadow" style="--url: url('/Imagenes/log.png');"></div>
           <div class="image" style="--url: url('/Imagenes/log.png');"></div>
           <div class="content">
               <h2 class="titulocard">Contactanos</h2>
               <p class="descricard">Estamos aquí para ayudarte. Si tienes preguntas o necesitas más información, no dudes en ponerte en contacto con nosotros.</p>
           </div>
       </div>-->

</div>
<br />
<h3 class="display-4" style="color: #ecdf06; text-align:center;"><b> &nbsp;&nbsp; Sobre nosotros</b></h3>
<p class="Descripcionini">
    <b>
        En nuestro espacio creativo, transformamos prendas en obras de arte personalizadas. Somos más que un comercio de bordados, somos la expresión de tu estilo único y auténtico a través de cada hilo y puntada 🙌✨
        ¿Qué nos hace diferentes? Nos dedicamos a brindarte productos exclusivos de alta calidad que reflejen tu visión y personalidad. En Visionary Gold, no solo encuentras bordados, sino la posibilidad de elegir entre una variedad de diseños y fuentes, incluso agregar tu propio logotipo o frase especial a tu prenda preferida. Cada pieza es una declaración de individualidad, una conexión entre la moda y tu identidad.😌🧵
        ¡Conéctate con nosotros y comienza tu experiencia única hoy! 📧📞 Explora nuestras creaciones y adquiere tu prenda especial.🙌📝
    </b>
</p>
<br />

<h3 class="display-4" style="color: #ecdf06; text-align:center;"><b> &nbsp;&nbsp; Galeria de fotos</b></h3>
<section class="gallery">
    <img src="~/Imagenes/Galleria/anime.png" alt="Imagen de galería" />
    <img src="~/Imagenes/Galleria/anime.png" alt="Imagen de galería" />
    <img src="~/Imagenes/Galleria/anime.png" alt="Imagen de galería" />
    <img src="~/Imagenes/Galleria/anime.png" alt="Imagen de galería" />
    <img src="~/Imagenes/Galleria/anime.png" alt="Imagen de galería" />

</section>
<br />
<h3 class="display-4" style="color: #ecdf06; text-align:center;"><b> &nbsp;&nbsp; Proceso de personalizacón</b></h3>
<p class="Descripcionini">
    <b>
        Nuestro proceso de personalización es simple y emocionante. Tú eliges, nosotros creamos. Desde la elección del diseño hasta la entrega, cada paso es una oportunidad para que tu visión se convierta en realidad. 🎨✨
        Explora nuestro catálogo y descubre cómo convertir tus prendas en testimonios únicos de tu estilo. ¿Listo para dar vida a tu ropa?🧵🪡
        ¡Contáctanos para empezar tu viaje de personalización hoy mismo a través de nuestro WhatsApp o Messenger para recibir mas información! 📧📞
    </b>
</p>
