@{ ViewData["Title"] = "Privacy Policy"; }

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<div class="card" id="card">
    <div class="shadow" style="--url: url('/Imagenes/logo.png');"></div>
    <div class="image" style="--url: url('/Imagenes/logo.png');"></div>
    <div class="content">
        <h2>Hola</h2>
        <p>Esta es prueba</p>
    </div>
</div>




