.container {
    padding: 0;
    margin: 0;
    width: 100%;
}

h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 48px;
}
/*---------------------------------- CONTENIDO ----------------------------------*/

.header {
    position: relative;
    text-align: center;
    /*background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);*/
    color: white;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.inner-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 55vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*----------------------------------  OLAS ----------------------------------*/

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
    height: auto;
}

/*---------------------------------- MOVIMIENTO DE OLAS ----------------------------------*/

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

    .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }

    .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }

    .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }

    .parallax > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }

/*---------------------------------- VIDEO ----------------------------------*/
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto asegura que el video cubra todo el área */
    z-index: -1; /* Coloca el video detrás del contenido */
}

.header {
    position: relative;
    overflow: hidden; /* Esto asegura que no haya desplazamiento no deseado */
}

.bg-video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según sea necesario */
    z-index: 0;
}
